body {
    font-family: Arial, sans-serif;
    }

form {
    max-width: 300px;
    margin: 0 auto;
    }

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    }

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    }

button:hover {
    background-color: #0056b3;
    }

#result {
    margin-top: 20px;
    }

resultado{
    font-size: 50px;
    text-align: center;
    color: blue;
}

datosProyecto h3 a p {
    font-size: 20px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

inicio {
    max-width: 300px;
    margin: 0 auto;
}
